$colors: (
      primary: (
            100: hsl(256, 25%, 74%),
            200: hsl(256, 19%, 66%),
            300: hsl(256, 15%, 58%),
            400: hsl(256, 13%, 50%),
            500: hsl(256, 17%, 39%),
            600: hsl(256, 21%, 31%),
            700: hsl(256, 28%, 23%),
            800: hsl(256, 43%, 15%),
            900: hsl(256, 89%, 7%),
      ),
      neutral: (
            surface: hsla(0, 0%, 96%, 1),
            background: hsla(0, 0%, 92%, 1),
            "white": hsla(0, 0%, 100%, 1),
            "black": hsla(0, 0%, 0%, 1),
      ),
      accent: (
            primary: hsla(329, 100%, 63%, 1),
            hover: hsla(332, 100%, 60%, 1),
      ),
      gradient: (
            1: linear-gradient(180deg, #51a5c9 0%, #ff43a6 100%),
            2: linear-gradient(180deg, #ff43a6 0%, #d41077 100%),
            3: (
                  linear-gradient(
                        180deg,
                        rgba(11, 2, 35, 0.48) 0%,
                        rgba(11, 2, 35, 0.32) 100%
                  ),
                  linear-gradient(
                        0deg,
                        rgba(255, 255, 255, 0.3),
                        rgba(255, 255, 255, 0.3)
                  ),
            ),
            4: (
                  linear-gradient(
                        180deg,
                        rgba(84, 8, 8, 0.32) 0%,
                        rgba(157, 11, 11, 0.48) 100%
                  ),
                  linear-gradient(
                        0deg,
                        rgba(255, 255, 255, 0.2),
                        rgba(255, 255, 255, 0.2)
                  ),
            ),
      ),
      logo: (
            accent: hsla(329, 100%, 63%, 1),
            "purple": hsla(245, 32%, 41%, 1),
            "blue": hsla(198, 53%, 55%, 1),
            "green": hsla(135, 42%, 38%, 1),
            light-green: hsla(78, 59%, 61%, 1),
      ),
      additional: (
            warning: hsla(7, 69%, 58%, 1),
            error: hsla(6, 90%, 54%, 1),
            link: hsla(202, 98%, 47%, 1),
            info: hsla(29, 39%, 89%, 1),
            caution: hsla(43, 100%, 58%, 1),
            success: hsla(175, 43%, 58%, 1),
      ),
);
// secondary: (
//       // purple
//       300: hsl(277 50% 60%),
//       400: hsl(277 50% 40%),
//       500: rgb(101, 69, 121),
// ),
// accent:
//       (
//             // red
//             300: hsl(358 72% 70%),
//             400: hsl(358 72% 53%),
//             500: hsl(358 72% 30%),
//       ),
// neutral: (
//       100: hsl(0 0% 100%),
//       200: hsl(0 0% 87%),
//       300: hsl(0 0% 80%),
//       400: hsl(0 0% 70%),
//       500: hsl(0 0% 60%),
//       600: hsl(0 0% 50%),
//       700: hsl(0 0% 40%),
//       800: hsl(0 0% 30%),
//       900: hsl(0 0% 15%),
// ),
